$color-navy: #1E2A38;
$color-navy-alpha: #1e2a38bc;
$color-navy-alpha2: #1e2a38e0;
$color-beige: #EDE0D4;
$color-green: #A3B18A;
$color-terracotta: #E07A5F;
$color-mint: #BFD3C1;

$c-blue: #0477BF;
$c-green: #252617;
$c-yellow: #D9AA52;
$c-brown: #8C613B;
$c-red: #8C2218;